/* Simply use CSS as normal but with JSX className in ReactJS */
.navbar
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 30px;
}
.nav__items
{
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
}
.logo
{
	height: 60px;
}