.meme__section
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 3rem;
	font-family: Karla, sans-serif;
	width: 100%;
}
.top, .bottom
{
	width: 300px;
	height: 40px;
	margin: 0.5rem;
	font-size: 12px;
	padding: 0.5rem;
}

.get__meme
{
	width: 650px;
	height: 40px;
	background-image: linear-gradient(to right, #672280, #A626D3);
	color: white;
	font-size: 16px;
	font-weight: bold;
	border-color: transparent;
	border-radius: 5px;
}
.meme__pic
{
	width: 500px;
}
.meme__visual
{
	position: relative;
	font-family: Arial;
	font-size: xx-large;
	font-weight: bolder;
	color: white;
	-webkit-text-stroke: black;
	-webkit-text-stroke-width: 2px;

}
.topText
{
	position: absolute;
	top: 20px;
	left: 50%;
}
.bottomText
{
	position: absolute;
	bottom: 20px;
	left: 50%;
}