.foot
{
	background-color: #161619;
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 2px solid red; */
	height: 70px;
	border-radius: 0 0 10px 10px;
	/* margin: 10% 0; */
}
.container__footer
{
	width: 60%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}