.heading
{
	height: 65px;
	width: 100%;
	background-image: linear-gradient(to right, #672280, #A626D3);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	color: white;
}
.brand
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 200px;
	gap: 1rem;
	font-family: Karla, sans-serif;
	font-size: 20px;
	font-weight: bold;
}
.brand img
{
	width: 32px;
}
.heading p
{
	font-family: Inter, sans-serif;
	font-size: 12px;
	font-weight: medium;
}